body {
  background-color: rgba(192, 192, 192, 0.1);
}

.navbar {
  position: fixed;
  margin-top: -15px;
  padding-right: 2px;
  padding-left: 0px;
  margin-left: -20px;
  border-width: 2px;
}

h1 {
  margin-left: 150px;
  margin-right: 50px;
  background-image: url("https://cdn.pixabay.com/photo/2014/05/27/23/32/matrix-356024_1280.jpg");
  color: white;
  padding: 20px;
  text-align: center;
}

h2 {
  margin-left: 150px;
}

p {
  margin-left: 150px;
  line-height: 1.6;
  margin-right: 35%;
}

ol {
  margin-left: 180px;
  line-height: 1.6;
  margin-right: 30%;
}

div {
  font-family: monospace;
  margin-left: 150px;
  border-style: outset;
  width: 56%;
}
