body {
  background-color: rgba(192, 192, 192, 0.1);
}

.navbar {
  position: fixed;
  margin-top: -15px;
/*  border: 3px solid black;*/
  padding-right: 2px;
  padding-left: 0px;
  margin-left: -20px;

  border-width: 2px;
}

h2 {
  margin-left: 150px;
}

p, ol {
  margin-left: 150px;
  line-height: 1.6;
}

h1 {
  margin-left: 150px;
  background-image: url("code1.jpg");
  color: white;
  padding: 20px;
  text-align: center;
}
